<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    {% if generateMp3 %}
    <audio controls>
      <source src="/{{ page.fileSlug }}.mp3" type="audio/mpeg" />
      Your browser does not support the audio element.
    </audio>
    {% endif %}
    {{ content | safe }}
  </body>
</html>
