<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>
      {% if page.url !== "/" %}
        {{ title }} |
      {% endif %}11ty-text-to-mp3</title>
    <meta property="og:site_name" content="11ty-text-to-mp3"/>
    <meta property="og:title" content="11ty-text-to-mp3"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="https://11ty-text-to-mp3.netlify.app/"/>
    <meta name="author" content="Larry Hudson">
    <meta name="description" content="Generate audio from Eleventy content using Microsoft Cognitive Speech"/>
    <meta name="twitter:description" content="Generate audio from Eleventy content using Microsoft Cognitive Speech"/>
    <meta property="og:description" content="Generate audio from Eleventy content using Microsoft Cognitive Speech"/>
    <meta name="twitter:site" content="@larryhudsondev"/>
    <meta name="twitter:creator" content="@larryhudsondev"/>
    <link
      rel="alternate"
      type="application/rss+xml"
      title="11ty-text-to-mp3 audio feed"
      href="https://11ty-text-to-mp3.netlify.app/podcast.xml"/>
  </head>
  <body>
    <header>
      <h1>{{ title }}</h1>
    </header>
    {% if mp3Url %}
      <audio controls>
        <source src="{{ mp3Url }}" type="audio/mpeg"/> Your browser does not support the audio element.
      </audio>
    {% endif %}
    {{ content | safe }}
    <footer>
      {% if page.url !== "/" %}
        <p>Text content comes from
          <a href="https://www.gutenberg.org/">Project Gutenberg</a>.</p>
      {% endif %}
    </footer>
  </body>
</html>