---
layout: 'layouts/post.njk'
title: 11ty-text-to-mp3
---

<p>By <a href="https://twitter.com/larryhudsondev">Larry Hudson</a></p>

<p>This is an example project to show how you can generate audio of your <a href="https://www.11ty.dev/">Eleventy</a> content using <a href="https://azure.microsoft.com/en-us/services/cognitive-services/text-to-speech/#overview">Microsoft's Cognitive Services Speech API</a>.</p>

<p>You can read more about this in the <a href="https://github.com/larryhudson/11ty-text-to-mp3">GitHub repository</a>.</p>

<h2>Books</h2>
<p>Below are some example pages that include audio versions.</p>
<ul>
    {% for bookPage in collections.generateMp3 %}
        <li>
            <a href="{{ bookPage.url }}">{{ bookPage.data.title }}</a>
        </li>
    {% endfor %}
</ul>

<h2>Podcast feed</h2>

<p>This project also generates a podcast feed so readers can listen to the audio versions in their podcast player of choice.</p>

<p>If you used this approach on your blog, your readers could subscribe to your audio feed and listen to your articles when they become available.</p>

<p>You can find the <a href="/podcast.xml">podcast feed here</a> and <a href="https://github.com/larryhudson/11ty-text-to-mp3#generating-a-podcast-feed">read more about how it works in the GitHub repo</a>.
